<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{app.vsoc.title}">Title</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<div>
		<img src="../../images/logo.png" alt="vSOC logo" title="vSOC logo"
			th:src="@{/images/logo2.png}" th:alt-title="#{app.vsoc.title}"
			height="80px" width="600px" />
	</div>
	<div>
		<h1 th:text="#{app.user.read.input}">Read Input</h1>
	</div>
	<table border="1px">
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'Fan Tac: ' + ${vsocUI.fanTacInput}" />
		</tr>
	</table>
	<table>
		<tr>
			<td colspan="4"></td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>
	<table border="1px">
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'Temp Sensor: ' + ${vsocUI.tempSensorInput}" />
		</tr>
	</table>
	<table>
		<tr>
			<td colspan="4"></td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>
	<table border="1px">
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'DPOL 1.0V: ' + ${vsocUI.dpol1_0VInput}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'DPOL 1.8V: ' + ${vsocUI.dpol1_8VInput}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'DPOL 3.3V: ' + ${vsocUI.dpol3_3VInput}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'DPOL 5.0V: ' + ${vsocUI.dpol5_0VInput}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'DPOL 12.0V: ' + ${vsocUI.dpol12_0VInput}" />
		</tr>
	</table>
	<table>
		<tr>
			<td colspan="4"></td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>
	<table border="1px">
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'UP_INPUT_0: ' + ${vsocUI.upInput_0}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'UP_INPUT_1: ' + ${vsocUI.upInput_1}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'UP_INPUT_2: ' + ${vsocUI.upInput_2}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'UP_INPUT_3: ' + ${vsocUI.upInput_3}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'EXP_INPUT_0: ' + ${vsocUI.expInput_0}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'EXP_INPUT_1: ' + ${vsocUI.expInput_1}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'EXP_INPUT_2: ' + ${vsocUI.expInput_2}" />
		</tr>
		<tr th:each="vsocUI : ${inputData}">
			<th th:text="'EXP_INPUT_3: ' + ${vsocUI.expInput_3}" />
		</tr>
	</table>
	<table>
		<tr>
			<td colspan="4"></td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>

	<table>
		<tr>
			<td>
				<a href="#" th:href="@{/vsoc/}" th:text="#{user.send-more-inputs}" > </a>
			</td>
			<td> | </td>
			<td>
				<a href="#" th:href="@{/vsoc/readoutputs}" th:text="#{user.read-outputs}" ></a>
			</td>			
		</tr>
	</table>
	

</body>
</html>