<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{app.title}"> Title </title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
	<body>
	    <h1 th:text="#{app.vsoc.title}">Send Input to the Virtual System (VSOC)</h1>
	    <form action="#" th:action="@{/vsoc/sendInput}" th:object="${vsocUI}" method="POST">
		    <table>

			    	<tr><td th:text="#{user.ui.heartbeat.led}"></td>
		    		  <td th:each="entryTypes1 : ${mcuHeartBeatLed_Ind}">
			    	       <input type="radio" th:field="*{mcuHeartBeatLedInput}" th:value="${entryTypes1}" />ON
			    	       <label th:if="${#fields.hasErrors('mcuHeartBeatLedInput')}" th:text="#{error.vsocUI.mcuHeartBeatLedInput}" th:class="'error'">MCU_HEART_BEAT_LED Error</label>
			    	    </td>
			    	    <td>
			    	       <input type="radio" th:field="*{mcuHeartBeatLedInput}" th:value="${entryTypes2}" />OFF
			    	       <label th:if="${#fields.hasErrors('mcuHeartBeatLedInput')}" th:text="#{error.vsocUI.mcuHeartBeatLedInput}" th:class="'error'">MCU_HEART_BEAT_LED Error</label>
			    	    </td>
			    	</tr>

			    	<tr><td th:text="#{user.ui.fan_pwm}"/></td>
			    	    <td>
			    	       <input type="text" th:field="*{fanPwmInput}" />
			    	       <label th:if="${#fields.hasErrors('fanPwmInput')}" th:text="#{error.vsocUI.fanPwmInput}" th:class="'error'">Fan PWM Error</label>
			    	    </td>
			    	</tr>
			    	<tr><td th:text="#{user.ui.fan_pwm}"></td>
			    	      <td>
			    	       <input type="text" th:field="*{fanTacInput}" />
			    	       <label th:if="${#fields.hasErrors('fanTacInput')}" th:text="#{error.vsocUI.fanTacInput}" th:class="'error'">Fan TAC Error</label>
			    	    </td>
			    	</tr>
			    	<tr><td th:text="#{user.ui.temp_sensor}"></td>
			    	      <td>
			    	       <input type="text" th:field="*{tempSensorInput}" />
			    	       <label th:if="${#fields.hasErrors('tempSensorInput')}" th:text="#{error.vsocUI.tempSensorInput}" th:class="'error'">Fan TAC Error</label>
			    	    </td>
			    	</tr>
			    	
			    	<tr>
			    		<td th:text="#{user.ui.analog_to_digital}"></td>
			    	</tr>
			    	<tr><td th:text="#{user.ui.dpol1.0}"></td>
			    		<td>
			    		   <input type="text" th:field="*{dpol1_0VInput}" />
			    	       <label th:if="${#fields.hasErrors('dpol1_0VInput')}" th:text="#{error.vsocUI.dpol1_0VInput}" th:class="'error'">Fan TAC Error</label>
			    	    </td>
			    	      <td th:each="entryTypes1 : ${dpol1_0_EntryTypes}">
				    	       <input type="radio" th:field="*{dpol1_0VInput}" th:value="${entryTypes1}" />ON
				    	       <label th:if="${#fields.hasErrors('dpol1_0VInput')}" th:text="#{error.vsocUI.dpol1_0VInput}" th:class="'error'">Fan TAC Error</label>
				    	    </td>
				    	    <td>
				    	       <input type="radio" th:field="*{dpol1_0VInput}" th:value="${entryTypes2}" />OFF
				    	       <label th:if="${#fields.hasErrors('dpol1_0VInput')}" th:text="#{error.vsocUI.dpol1_0VInput}" th:class="'error'">Fan TAC Error</label>
				    	    </td>
			    	</tr>
			    	<tr><td th:text="#{user.ui.dpol1.8}"></td>
			    		<td>
			    		   <input type="text" th:field="*{dpol1_8VInput}" />
			    	       <label th:if="${#fields.hasErrors('dpol1_8VInput')}" th:text="#{error.vsocUI.dpol1_8VInput}" th:class="'error'">Fan TAC Error</label>
			    	    </td>
				    	      <td th:each="entryTypes2 : ${dpol1_8_EntryTypes}">
				    	       <input type="radio" th:field="*{dpol1_8VInput}" th:value="${entryTypes1}" />ON
				    	       <label th:if="${#fields.hasErrors('dpol1_8VInput')}" th:text="#{error.vsocUI.dpol1_8VInput}" th:class="'error'">Fan TAC Error</label>
				    	    </td>
				    	      <td>
				    	       <input type="radio" th:field="*{dpol1_8VInput}" th:value="${entryTypes2}" />OFF
				    	       <label th:if="${#fields.hasErrors('dpol1_8VInput')}" th:text="#{error.vsocUI.dpol1_8VInput}" th:class="'error'">Fan TAC Error</label>
				    	    </td>
			    	</tr>
		    	
		        <tr><td colspan="2">
		              <input type="submit" th:value="#{user.form.submit}"/> 
		              <input type="reset" th:value="#{user.form.reset}"/>
		            </td>
		        </tr>
			</table>  
	    </form>
	</body>
</html>